/* */
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#metitle {
  font-size: 30px;
}

body {
  padding-top: 50px;
}

.content-template {
  padding: 0px 14px;
  text-align: center;
}

#footer {
  margin-top: 2px;
  margin-bottom: 2px;
}
