/* */

#metitle {
  font-size: 30px;
  font-family: 'Arvo', courier, serif;
}

ul.nav {
  font-family: 'Arvo', courier, serif;
}

.navbar-brand {
  font-family: 'Arvo', courier, serif;
}

body {
  padding-top: 50px;
}

.content-template {
  padding: 0px 14px;
  text-align: center;
}

.jumbotron {
  text-align: center;
  color: black;
  background-image: url('../images/1-bluemarble_west.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.jumbotron p, .jumbotron h1 {
  text-shadow: 2px 2px 2px #aaa;
  padding-left: 30px;
}


#footer {
  margin-top: 2px;
  margin-bottom: 2px;
}

#headshot {
  border-radius: 16px;
  border: 2px solid #888;
  width: 200px;
  box-shadow: 4px 5px 28px -2px;

}
